[workspace]
members = [".", "mnn-bridge", "mnn-sync", "mnn-sys"]
[workspace.package]
license = "Apache-2.0"

[package]
name = "mnn"
version = "0.2.0"
edition = "2021"
license = { workspace = true }

[workspace.dependencies]
mnn = { version = "0.2.0", path = "." }
error-stack = { version = "0.5" }

[dependencies]
libc = "0.2"
mnn-sys = { version = "0.1", path = "mnn-sys", features = [] }
thiserror = "1.0"
error-stack.workspace = true
oneshot = "0.1"
tracing = { version = "0.1.40", optional = true }
dunce = "1.0.5"
cc = "1.1.36"

[features]
metal = ["mnn-sys/metal"]
coreml = ["mnn-sys/coreml"]
vulkan = ["mnn-sys/vulkan"]
opencl = ["mnn-sys/opencl"]
opengl = ["mnn-sys/opengl"]
crt_static = ["mnn-sys/crt_static"]
# Disable mnn-threadpool to enable this
openmp = ["mnn-sys/openmp"]
mnn-threadpool = ["mnn-sys/mnn-threadpool"]
tracing = ["dep:tracing"]
profile = ["tracing"]

default = ["mnn-threadpool"]


[dev-dependencies]
anyhow = "1.0"
bytemuck = "1.17"
clap = { version = "4.5", features = ["derive"] }
divan = "0.1.14"
# mnn-sync = { path = "mnn-sync" }

[[bench]]
name = "mnn-bench"
harness = false

[profile.rwd]
debug = true
inherits = "release"

[build-dependencies]
cc = "1.1.36"
