[package]
name = "mnn-sys"
version = "0.1.0"
edition = "2021"
links = "mnn"

[build-dependencies]
anyhow = "1.0.86"
bindgen = "0.69.4"
cc = { version = "1.1.5", features = ["parallel"] }
cmake = { git = "https://github.com/blonteractor/cmake-rs", features = ["parallel"] }
diffy = "0.4.0"
dunce = "1.0.4"
fs_extra = "1.3.0"
tap = "1.0.1"

[features]
vulkan = []
metal = []
coreml = ["metal"]

[dependencies]
libc = "0.2.155"
paste = "1.0.15"

